.form-group {
    margin-bottom: 5%;
}

.form-group label {
    display: block;
    margin-bottom: 2%;
    font-weight: bold;
}

.form-input {
    background-color: #EEECCE;
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid #B8D8BA;
    border-radius: 4px;
}
