.post-list {
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #FAFFF4;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

h1 {
    text-align: center;
    color: #A8E6CF;
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}