/* SideBar.css */
.logo {
    margin: 0 auto;
    display: block;
    width: 50px;
}

.side-bar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 95vh;
    background-color: #FAFFF4;
    padding: 20px;
    gap: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-button {
    background-color: #76C7A7;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
}

.sidebar-button:hover {
    background-color: #A8E6CF;
}

.side-bar-footer {
    margin-top: auto; /* 하단으로 밀기 */
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    color: #4E342E;
}

.side-bar-footer strong {
    color: #76C7A7;
}
