button {
    all: unset;
}

.icon-counter-button {
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    transition: color 0.3s;
}

.icon-counter-button:hover .button-icon {
    color: var(--hover-color);
}

.icon-counter-button:hover .button-icon::before {
    transform: scale(1.5);
    opacity: 0.1;
}

.button-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
    transition: color 0.3s;
}

.button-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--active-color);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    z-index: -1;
    box-shadow: 0 0 5px 3px var(--active-color);
}

.button-count {
    font-size: 14px;
    display: flex;
    align-items: center;
    user-select: none;
}
