body {
    font-family: 'Arial', sans-serif;
    background-color: #FAFFF4; /* 전체 페이지 배경색 */
}

.main-page {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 10px;
}

.content {
    width: 55vh;
}