.login-form {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #B8D8BA;
    border-radius: 10px;
    background-color: #DCECC9;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.login-form:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    color: #4E342E;
    font-size: 1.5em;
}

.interaction-group {
    margin: 0 10%;
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-button,
.register-button {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 4px;
    align-self: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button {
    background-color: #76C7A7;
}

.login-button:hover {
    background-color: #4E8A7E;
}

.login-button:disabled {
    background-color: #B8D8BA;
    cursor: not-allowed;
}

.register-button {
    background-color: #3ACE99;
}

.register-button:hover {
    background-color: #4E8E7E;
}
