.login-form {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.validerror-message {
    color: red;
    font-size: 0.75em;
    min-height: 1.75em;
}

.login-title {
    text-align: center;
    margin-bottom: 5%;
    color: #333;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-button:disabled {
    background-color: #b0e0a6;
    cursor: not-allowed;
}

.validerror-message {
    color: red;
    font-size: 0.75em;
    min-height: 1.75em;
}
